@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-orange-700">Hello, world!</h1>

<p class="text-green-800">NGR</p>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
