@using Notes.Data
@inject MoodyService moodyService

@page "/"
<PageTitle>mdNotes</PageTitle>

<h1>mdNotes</h1>

@code {
  protected override void OnInitialized()
  {
      moodyService.Md = new Moody{
        ActiveNoteId = 0,
        ActiveNote = new MoodyData{
          Id = 0,
          Text = "# hello world"
        }
      };
  }
}
